
html, body {
  height: 100%;
  width: 100%;
  background-image: url("./Imgs/Stream bg2.jpeg");
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}


#topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: yellow;
  text-align: left;
}

#main {
  height: 150px;
  margin: auto;
  width: 50%;
}


#list {
  list-style-type: none;
}


#logo {
  height: 50px;
  width: 50px;
  margin-left: 1%;
}


#logoTitle {
  float: left;
  top: 0;
  margin-top: 5px;
  margin-left: 7%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}


@media (width <= 800px) {
  #logoTitle {
    margin-left: 35%;
  }
}

#grid {
  float: left;
  display: grid;
  background-color: rgb(160, 160, 160);
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 10px;
  padding-top: 100px;
  padding-left: 60px;
  margin-left: 32%;
  margin-top: 5%;
  margin-bottom: 30%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 1.0);
  border: 2px solid rgba(160, 160, 160, 0.8);
  border-radius: 15%;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 30px;
}
.gridNumb {
  display: none;
}

.popover {
  font-size: smaller;
  left: 50%;
  position: absolute;
  top: -120%;
  transform: translate(-50%, 0.75rem);
  background-color: white;
  padding: 2px;
}

.popoverSide {
  font-size: smaller;
  left: -40%;
  position: absolute;
  top: 10%;
  transform: translate(-50%, 0.75rem);
  background-color: white;
  padding: 2px;
}

#Start {
  height: 50px;
  width: 50px;
}

#win{
  margin-left: 45%;
}

#time {
  font-size: 200%;
  margin-left: 45%;
}